body {
    background-image: url("../images/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    
    
}
.container{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#header{
    font-size: 72px;
}
#start {
    width: 50%;
    height: auto;
}

.row {
    padding: 20px;
}