body {
    background-image: url("../images/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-weight: bold
    
    
}
.container{
    font-family: 'Stardos Stencil', cursive;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

#header{
    font-size: 72px;
    font-weight: bold;
}
#trivia{
    font-size: 36px;
    
}
#start {
    width: 25%;
    height: auto;
}

#timer {
    font-size: 72px;
    font-weight: bold;
}

#end {
    font-size: 36px;
    font-weight: bold;
}
